@import "./mobileDesign.scss";

.section-padding{

    @include xs{
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    @include md{
        padding-right: 2.5rem;
        padding-left: 2.5rem;

    }

    @include lg{
        padding-right: 3.5rem;
        padding-left: 3.5rem; 
    }

    @include xl{
        padding-right:7rem;
        padding-left: 7rem;
    }
}


.rfm-initial-child-container {
    flex: 0 0 auto;
    display: flex
;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}

